Q1.What is a database? Differentiate between SQL and NoSQL databases

A database is an organized collection of data that can be easily accessed, managed, and updated. Databases are used to store and retrieve large amounts of data efficiently. They can be classified into different types based on their structure and use cases, such as relational, non-relational, distributed, and more.

SQL (Structured Query Language) Databases:

	1.	Structure: SQL databases are relational databases that store data in tables with rows and columns. They use a predefined schema to define the structure of the data.
	2.	Query Language: They use SQL for defining and manipulating data.
	3.	Scalability: SQL databases are typically vertically scalable, meaning they scale by increasing the power (CPU, RAM) of a single server.
	4.	Examples: MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server.
	5.	ACID Compliance: SQL databases are generally ACID (Atomicity, Consistency, Isolation, Durability) compliant, ensuring reliable transactions.
	6.	Use Cases: Suitable for complex queries and transactions, such as banking systems, enterprise applications, and any situation where data integrity is critical.
    
NoSQL (Not Only SQL) Databases:

	1.	Structure: NoSQL databases are non-relational and can store data in various formats like key-value pairs, documents, wide-columns, or graphs. They have a dynamic schema for unstructured data.
	2.	Query Language: They use different query languages depending on the type of database (e.g., MongoDB uses a query language based on JavaScript, while Cassandra uses CQL).
	3.	Scalability: NoSQL databases are typically horizontally scalable, meaning they scale by adding more servers to the database.
	4.	Examples: MongoDB, Cassandra, Redis, Couchbase.
	5.	ACID Compliance: NoSQL databases may not fully support ACID transactions but often provide eventual consistency and other mechanisms like BASE (Basically Available, Soft state, Eventual consistency).
	6.	Use Cases: Suitable for large volumes of unstructured data, real-time web applications, big data analytics, and scenarios requiring flexible schema design.

In summary, SQL databases are ideal for structured data and complex transactions, while NoSQL databases are suited for unstructured data and scalability.

Q2.What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage database structures. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and schemas.

CREATE, DROP, ALTER, and TRUNCATE are the key DDL commands:

1.	CREATE: This command is used to create new database objects. For example, creating a new table.

2.	DROP: This command is used to delete database objects. For example, dropping a table.
      DROP TABLE Employees;
      
3.	ALTER: This command is used to modify existing database objects. For example, adding a new column to an existing table.

4.	TRUNCATE: This command is used to remove all records from a table, but the table structure remains. It is faster than the DELETE command because it does not generate individual row delete operations.

These DDL commands are essential for managing the schema and structure of the database, ensuring that the data is stored in a well-organized and efficient manner

Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Data Manipulation Language (DML) is a subset of SQL (Structured Query Language) used to manage and manipulate data within a database. DML commands are used to insert, update, delete, and retrieve data from database tables.
1. INSERT

The INSERT statement is used to add new rows of data to a table.

Syntax:
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

Example:
Assume we have a table students with columns id, name, and age.

In [ ]:
INSERT INTO students (id, name, age)
VALUES (1, 'John Doe', 20);
##This command inserts a new row into the students table with id as 1, name as ‘John Doe’, and age as 20.

2. UPDATE

The UPDATE statement is used to modify existing data in a table.

Syntax:
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

Example:
Continuing with the students table, to update the age of the student with id 1 to 21:

In [ ]:
UPDATE students
SET age = 21
WHERE id = 1;
##This command updates the age of the student whose id is 1 to 21

3. DELETE

The DELETE statement is used to remove existing rows from a table.

Syntax:
DELETE FROM table_name
WHERE condition;

Example:
To delete the student with id 1 from the students table:

In [ ]:
DELETE FROM students
WHERE id = 1;
##This command deletes the row from the students table where the id is 1.

Summary of DML Operations:

	•	INSERT: Adds new rows to a table.
	•	UPDATE: Modifies existing rows in a table.
	•	DELETE: Removes rows from a table.

These operations help in managing the data stored within database tables efficiently.

Q4.What is DQL? Explain SELECT with an example.

DQL, or Data Query Language, is a subset of SQL (Structured Query Language) used to retrieve data from a database. The primary command in DQL is SELECT, which is used to specify and fetch data from one or more tables within the database.

The SELECT Statement

The SELECT statement allows you to retrieve data from one or more tables. The basic syntax is:
SELECT column1, column2, ...
FROM table_name
WHERE condition;

Example

Let’s say we have a table called employees with the following structure:
employee_id,first_name,last_name,department,salary
1,John,Doe,HR,50000
2,Jane,Smith,IT,60000
3,Bob,Brown,Finance,55000

In [ ]:
SELECT first_name, department FROM employees;
## To retrieve data for employees who work in the IT department:
SELECT * FROM employees WHERE department = 'IT';

Q5. Explain Primary Key and Foreign Key.

### Primary Key

A **Primary Key** is a field (or a combination of fields) in a database table that uniquely identifies each record in that table. Here are some key points about primary keys:

- **Uniqueness**: Each value in a primary key column must be unique. This ensures that each record can be uniquely identified.
- **Non-null**: Primary keys cannot contain NULL values. Every record must have a value for the primary key field(s).
- **Immutable**: The values in a primary key should not change. Once assigned, they should remain constant for the lifetime of the record.
- **Single or Composite**: A primary key can consist of a single field (simple primary key) or multiple fields (composite primary key).

### Foreign Key

A **Foreign Key** is a field (or a combination of fields) in one table that uniquely identifies a row of another table. The foreign key is used to establish and enforce a link between the data in the two tables. Here are some key points about foreign keys:

- **Relationship**: Foreign keys establish a relationship between tables. The table with the foreign key is called the child table, and the table with the primary key is called the parent table.
- **Referential Integrity**: Foreign keys help maintain referential integrity by ensuring that a record in the child table corresponds to an existing record in the parent table.
- **Can be Null**: Unlike primary keys, foreign keys can contain NULL values. A NULL foreign key indicates that the relationship is optional.
- **Constraints**: Foreign key constraints can be used to enforce rules about how data can be updated or deleted. For example, an ON DELETE CASCADE constraint will automatically delete all child records when the corresponding parent record is deleted.

### Example

Consider two tables: `Customers` and `Orders`.

**Customers Table**:
| CustomerID (Primary Key) | Name     | Email           |
|--------------------------|----------|-----------------|
| 1                        | John Doe | john@example.com|
| 2                        | Jane Smith| jane@example.com|

**Orders Table**:
| OrderID (Primary Key) | OrderDate | CustomerID (Foreign Key) |
|-----------------------|-----------|--------------------------|
| 1001                  | 2023-01-15| 1                        |
| 1002                  | 2023-01-17| 2                        |
| 1003                  | 2023-01-18| 1                        |

In this example:
- `CustomerID` in the `Customers` table is the primary key, uniquely identifying each customer.
- `CustomerID` in the `Orders` table is a foreign key, establishing a link between the `Orders` table and the `Customers` table. This foreign key indicates which customer placed each order.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method

In [ ]:
## step 1.
pip install mysql-connector-python

## step 2
import mysql.connector

# Connect to the MySQL database
conn = mysql.connector.connect(
    host="your_host",       # e.g., "localhost"
    user="your_username",   # e.g., "root"
    password="your_password",
    database="your_database"
)

# Create a cursor object
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT * FROM your_table_name")

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

##Creating a Cursor Object
The cursor() method creates a cursor object. A cursor is used to interact with the database, allowing you to execute SQL queries and fetch results.

In [ ]:
cursor = conn.cursor()

##Executing SQL Queries
The execute() method is used to execute SQL queries. You pass the SQL query as a string to this method.

In [ ]:
cursor.execute("SELECT * FROM your_table_name")

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM: This clause specifies the tables from which to retrieve the data.
JOIN: This clause is used to combine rows from two or more tables based on a related column between them.
WHERE: This clause filters the rows based on a specified condition.
GROUP BY: This clause groups rows that have the same values in specified columns into summary rows.
HAVING: This clause filters groups based on a specified condition.
SELECT: This clause specifies the columns to be returned by the query.
DISTINCT: This clause removes duplicate rows from the result set.
ORDER BY: This clause sorts the result set based on one or more columns.
LIMIT/OFFSET: These clauses limit the number of rows returned and specify the starting point of the rows to be returned

In [ ]:
## visual representation 

SELECT [DISTINCT] column1, column2, ...
FROM table1
JOIN table2 ON table1.column = table2.column
WHERE condition
GROUP BY column1, column2, ...
HAVING condition
ORDER BY column1, column2, ...
LIMIT number OFFSET number;