Q1. Explain with an example each when to use a for loop and a while loop.

FOR loop = it is a control structure used to iterate over a sequence (such as a list, tuple, string, or range) or any iterable object.
           It allows you to execute a block of code repeatedly for each item in the sequence
           A for loop is typically used when you know the number of iterations in advance or when you want to iterate over a sequence.
           

WHILE loop = It is also a control structure that allows you to repeatedly execute a block of code as long as a specified condition is true.
             A while loop is used when you don't know in advance how many times you need to iterate, and the loop continues executing as long as a specified condition is True
          
                        
 In summary, use a for loop when you have a known sequence to iterate over, and use a while loop when you need to repeat a task until a specific condition is met or until you are uncertain about the number of iterations required.

examples : For loop

In [13]:
l = [1,2,3,4,5]

In [16]:
for i in l :
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

example : While loop

In [1]:
a = 1 

while a <= 10 :
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop

 Natural numbers = Natural numbers are a set of positive integers that start from 1 and continue indefinitely, counting upward

In [4]:
N = [1,2,3,4,5,6,7,8,9,10]
# sum of first 10 natural numbers

result = 0
for i in N :
    result = result + i
result

55

In [13]:
# product of first 10 natural numbers 

result = 1
for i in N :
    result = result * i
result

3628800

In [18]:
# sum first 10 natural numbers 

starting_point = 0
counter = 1

while counter <=10 :
    starting_point = starting_point + counter
    counter = counter + 1
starting_point

55

In [27]:
# product of first 10 natural numbers
n = int(input("enter your value"))
product = 1
while n > 0 :
    product = product * n
    n = n-1
product

enter your value 10

3628800

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list

In [28]:
range(100)

range(0, 100)

In [32]:
l = list(range(1,101))

In [33]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [9]:
# cube of each no in list l
l = list(range(1,101))
l1 = []
for i in l :
    i = i**3
    if i**3 % 4 and i**3 % 5 :
        l1.append(i)
    print(i)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

In [7]:
l1

[1,
 27,
 343,
 729,
 1331,
 2197,
 4913,
 6859,
 9261,
 12167,
 19683,
 24389,
 29791,
 35937,
 50653,
 59319,
 68921,
 79507,
 103823,
 117649,
 132651,
 148877,
 185193,
 205379,
 226981,
 250047,
 300763,
 328509,
 357911,
 389017,
 456533,
 493039,
 531441,
 571787,
 658503,
 704969,
 753571,
 804357,
 912673,
 970299]

In [12]:
n = 101
i = 1
l1 =[]

while i < n :
    print(i**3)
    i = i+1
    if i**3 % 4 and i**3 % 5 :
        l1.append(i)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

In [14]:
l1

[3,
 7,
 9,
 11,
 13,
 17,
 19,
 21,
 23,
 27,
 29,
 31,
 33,
 37,
 39,
 41,
 43,
 47,
 49,
 51,
 53,
 57,
 59,
 61,
 63,
 67,
 69,
 71,
 73,
 77,
 79,
 81,
 83,
 87,
 89,
 91,
 93,
 97,
 99,
 101]

Q5. Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

In [15]:
s = input()
def count_vowel(s):
    s = s.lower()
    vowels = ("aeiou")
    count = 0

    for i in s :
         if i in vowels :
            count = count + 1
    return count
vowel_count = count_vowel(s)
print("Number of vowels in the string:", vowel_count)

 "I want to become a data scientist"

Number of vowels in the string: 12

Q3. Create a python program to compute the electricity bill for a household
    The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
* You are required to take the units of electricity consumed in a month from the user as input.
* Your program must pass this test case: when the unit of electricity consumed by the user in a month is
  310, the total electricity bill should be 2250.

In [6]:
def calculate_electricity_bill(units):
    total_bill = 0

    
    if units <= 100:
        total_bill = units * 4.5
    else:
        total_bill += 100 * 4.5
        units -= 100

        
        if units <= 100:
            total_bill += units * 6
        else:
            total_bill += 100 * 6
            units -= 100

            
            if units <= 100:
                total_bill += units * 10
            else:
                total_bill += 100 * 10
                units -= 100

                
                total_bill += units * 20

    return total_bill

units_consumed = int(input("Enter the units of electricity consumed in a month: "))

electricity_bill = calculate_electricity_bill(units_consumed)

print(f"The total electricity bill for {units_consumed} units is: Rs. {electricity_bill}")

Enter the units of electricity consumed in a month:  320

The total electricity bill for 320 units is: Rs. 2450.0

above formatted string is used