In [9]:
##Consider following code to answer further questions:

import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [10]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

To print the data present in the second row of the DataFrame df, WE can use the iloc method, which allows US to access rows and columns by their integer position.

Here's the code to print the second row:

In [12]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In Pandas, `loc` and `iloc` are used to access a group of rows and columns by labels or by integer positions, respectively. Here are the key differences between them:

### `loc`
- **Label-based**: `loc` is primarily label-based, which means you have to specify rows and columns based on their labels.
- **Includes both endpoints**: When specifying a range, it includes both the start and the end of the range.
- **Boolean indexing**: `loc` can also be used with boolean arrays.

Example usage:
```python
# Accessing a single row by label
print(df.loc[1])

# Accessing a single column by label
print(df.loc[:, 'course_name'])

# Accessing a specific value by row and column label
print(df.loc[1, 'course_name'])
```

### `iloc`
- **Integer position-based**: `iloc` is primarily integer position-based, which means you have to specify rows and columns by their integer position.
- **Does not include the end**: When specifying a range, it includes the start but not the end of the range.
- **No boolean indexing**: `iloc` cannot be used with boolean arrays directly.

Example usage:
```python
# Accessing a single row by integer position
print(df.iloc[1])

# Accessing a single column by integer position
print(df.iloc[:, 0])

# Accessing a specific value by row and column integer position
print(df.iloc[1, 0])
```

### Summary
- Use `loc` when you need to access data using the labels of the rows and columns.
- Use `iloc` when you need to access data using the integer positions of the rows and columns.

Here's a comparison with examples for clarity:

```python
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Using loc
print(df.loc[1])  # Access row with label 1
print(df.loc[:, 'course_name'])  # Access the 'course_name' column
print(df.loc[1, 'course_name'])  # Access the value in row 1 and column 'course_name'

# Using iloc
print(df.iloc[1])  # Access the second row (index 1)
print(df.iloc[:, 0])  # Access the first column (index 0)
print(df.iloc[1, 0])  # Access the value in the second row and first column (index 1, 0)
```

Both methods are powerful and allow you to manipulate and access your data efficiently depending on whether you are working with labels or integer positions.

Q3.Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2]
Did you observe any difference in both the outputs? If so then explain it.

In [13]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [16]:
# Reindexing the DataFrame
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

print("New DataFrame after reindexing:")
print(new_df)

New DataFrame after reindexing:
        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [18]:
# Accessing row 2 using loc
print("\nnew_df.loc[2]:")
print(new_df.loc[2])

# Accessing the 3rd row (index 2) using iloc
print("\nnew_df.iloc[2]:")
print(new_df.iloc[2])

new_df.loc[2]:
course_name    Big Data
duration              6
Name: 2, dtype: object

new_df.iloc[2]:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Explanation

new_df.loc[2]:

loc is label-based, so new_df.loc[2] retrieves the row with the index label 2. In the reindexed DataFrame, this corresponds to the original row with index 2, which is "Big Data".

new_df.iloc[2]:

iloc is integer position-based, so new_df.iloc[2] retrieves the third row (index 2) of the reindexed DataFrame. After reindexing, the third row corresponds to the original row with index 1, which is "Machine Learning".

Observation

There is a difference in the outputs:

new_df.loc[2] retrieves the data where the index label is 2.
new_df.iloc[2] retrieves the data at the third row of the DataFrame after reindexing, which is different from the row with index label 2.
This illustrates the fundamental difference between loc (label-based indexing) and iloc (integer position-based indexing).

In [21]:
#Consider the below code to answer further questions:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i)  mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [22]:
# (i) Mean of each column
mean_of_columns = df1.mean()
print("Mean of each column:\n", mean_of_columns)

# (ii) Standard deviation of column 'column_2'
std_column_2 = df1['column_2'].std()
print("\nStandard deviation of column_2:", std_column_2)

Mean of each column:
 column_1    0.588266
column_2    0.456912
column_3    0.705344
column_4    0.345085
column_5    0.492436
column_6    0.616577
dtype: float64

Standard deviation of column_2: 0.08291329491348366

Q5.Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [24]:
# Replacing the data in the second row of 'column_2' with a string
df1.loc[2, 'column_2'] = 'string_value'

mean_column_2 = df1['column_2'].mean()
print(f"Mean of column_2: {mean_column_2}")

TypeError: unsupported operand type(s) for +: 'float' and 'str'

The error message "unsupported operand type(s) for +: 'float' and 'str'" occurs because the column column_2 now contains a mix of numeric and string data. The mean() function cannot operate on a column with mixed data types.

Here is a breakdown of the steps and the resulting issue:

-The initial DataFrame is created with random float values.
-The value in the second row of column_2 is replaced with the string 'string_value'.
-When attempting to compute the mean of column_2, a TypeError is raised because the column contains both floats and a string, and the mean calculation requires all values to be numeric.

To resolve this, you need to ensure that the column contains only numeric values before attempting to calculate the mean. One way to handle this is to convert all non-numeric values to NaN and then compute the mean, ignoring NaN values.

Q6.What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, window functions are used to perform operations on a subset of rows that are defined by a window, which can move or expand based on certain criteria. These functions are particularly useful for time series data and for performing calculations such as moving averages, cumulative sums, and rolling window calculations.

Types of Window Functions in Pandas

1.Rolling Window Functions (rolling)
Used to apply a function on a rolling window of fixed size.
Examples: rolling().mean(), rolling().sum(), rolling().std()

2.Expanding Window Functions (expanding)
Used to apply a function on an expanding window, which includes all rows up to the current one.
Examples: expanding().mean(), expanding().sum(), expanding().std()

3.Exponential Moving Window Functions (ewm)
Used to apply a function with exponential weights, giving more weight to recent observations.
Examples: ewm(span=span).mean(), ewm(com=com).mean(), ewm(halflife=halflife).mean()

4.Rolling Groupby Functions
Used to apply a rolling function on grouped data.
Examples: groupby('key').rolling(window=window).mean()

Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

In [25]:
import pandas as pd

# Get the current date and time
current_datetime = pd.to_datetime("now")

# Extract the current month and year
current_month = current_datetime.month
current_year = current_datetime.year

# Print the current month and year
print(f"Current Month: {current_month}")
print(f"Current Year: {current_year}")

Current Month: 7
Current Year: 2024

/tmp/ipykernel_70/3910313377.py:4: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  current_datetime = pd.to_datetime("now")

Q8.Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [28]:
import pandas as pd

def calculate_time_difference():
    # Prompt the user to enter the first date
    date1_str = input("Enter the first date (YYYY-MM-DD): ")
    # Prompt the user to enter the second date
    date2_str = input("Enter the second date (YYYY-MM-DD): ")
    
    # Convert the input strings to datetime objects
    date1 = pd.to_datetime(date1_str)
    date2 = pd.to_datetime(date2_str)
    
    # Calculate the time difference
    time_difference = date2 - date1
    
    # Extract the difference in days, hours, and minutes
    days = time_difference.days
    hours, remainder = divmod(time_difference.seconds, 3600)
    minutes, _ = divmod(remainder, 60)
    
    # Display the result
    print(f"Difference: {days} days, {hours} hours, and {minutes} minutes")

# Run the function
calculate_time_difference()

Enter the first date (YYYY-MM-DD):  19950728
Enter the second date (YYYY-MM-DD):  20240728

Difference: 10593 days, 0 hours, and 0 minutes

Q9.write a python program that reads a csv file containing categorical data and converts a specified column to a categorical data type.The program should prompt the user to enter the file path,column name, and category order and then display the sorted data.

In [ ]:
import pandas as pd

def read_and_convert_to_categorical():
    # Prompt the user for input
    file_path = input("Enter the CSV file path: ")
    column_name = input("Enter the column name to convert to categorical: ")
    category_order = input("Enter the category order separated by commas: ").split(',')

    try:
        # Read the CSV file
        df = pd.read_csv(file_path)
        
        # Check if the column exists in the dataframe
        if column_name not in df.columns:
            print(f"Column '{column_name}' not found in the CSV file.")
            return

        # Convert the specified column to categorical data type with the given order
        df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

        # Sort the dataframe based on the categorical column
        df_sorted = df.sort_values(by=column_name)
        
        # Display the sorted data
        print("\nSorted DataFrame based on the categorical column:")
        print(df_sorted)

    except Exception as e:
        print(f"An error occurred: {e}")

# Run the function
read_and_convert_to_categorical()

Q10.write a python program that reads a csv file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time.The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def visualize_sales_data():
    # Prompt the user for input
    file_path = input("Enter the CSV file path: ")

    try:
        # Read the CSV file
        df = pd.read_csv(file_path)
        
        # Ensure the necessary columns are present
        if 'Date' not in df.columns or 'Category' not in df.columns or 'Sales' not in df.columns:
            print("The CSV file must contain 'Date', 'Category', and 'Sales' columns.")
            return

        # Convert 'Date' column to datetime
        df['Date'] = pd.to_datetime(df['Date'])

        # Pivot the dataframe to have categories as columns and dates as index
        pivot_df = df.pivot_table(index='Date', columns='Category', values='Sales', aggfunc='sum', fill_value=0)

        # Plot the stacked bar chart
        pivot_df.plot(kind='bar', stacked=True, figsize=(12, 8))

        # Set chart title and labels
        plt.title('Sales of Each Product Category Over Time')
        plt.xlabel('Date')
        plt.ylabel('Sales')
        plt.legend(title='Category')

        # Display the chart
        plt.show()

    except Exception as e:
        print(f"An error occurred: {e}")

# Run the function
visualize_sales_data()

In [ ]:
Q11.You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
The program should do the following:
    
-Prompt the user to enter the file path of the CSV file containing the student data.
- Read the CSV file into a Pandas DataFrame.
- Calculate the mean, median, and mode of the test scores using Pandas tools.
- Display the mean, median, and mode in a table.

Assume the CSV file contains the following columns:
    
- Student ID: The ID of the student.
- Test Score: The score of the student's test.

Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+----------- +-------- +
[Mean [79.6 |
|Median |82 |
|Mode |85,90]
$----------- +-------- +
Assume that the CSV file student_data.csv contains the following data:
Student ID, Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results in a table.

In [ ]:
import pandas as pd
from tabulate import tabulate

def calculate_statistics():
    # Prompt the user for input
    file_path = input("Enter the file path of the CSV file containing the student data: ")

    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        # Ensure the necessary columns are present
        if 'Student ID' not in df.columns or 'Test Score' not in df.columns:
            print("The CSV file must contain 'Student ID' and 'Test Score' columns.")
            return
        
        # Calculate mean, median, and mode
        mean_score = df['Test Score'].mean()
        median_score = df['Test Score'].median()
        mode_score = df['Test Score'].mode().tolist()

        # Prepare the results in a table format
        statistics_table = [
            ["Mean", mean_score],
            ["Median", median_score],
            ["Mode", ", ".join(map(str, mode_score))]
        ]

        # Display the results in a table
        print("\nStatistics of Test Scores:")
        print(tabulate(statistics_table, headers=["Statistic", "Value"], tablefmt="grid"))

    except Exception as e:
        print(f"An error occurred: {e}")

# Run the function
calculate_statistics()