Q1.write a program to accept percentage from the user and display the grade acoording to the following criteria :
   marks               grade 
   >90                   A
   >80 and <=90          B
   >60 and <=80          C
   below 60              D

In [3]:
marks = int(input("enter your marks"))
if marks >=90 :
    print("your grade is A")
elif marks > 80 and marks<=90 :
    print("your grade is B")
elif marks > 60 and marks<= 80 :
    print("your grade is C")
else :
    print("your grade is D")

enter your marks 50

your grade is D

Q2.write a programme to accept the cost price of a bike and display the road tax to be paid according to the following crioteria :
   TAX     COST PRICE(in rupees)
   15%     >100000       
   10%     >50000 and <=100000
   5%      <=50000

In [12]:
Price = int(input("enter the cost price"))
if  Price >100000 :
    print("road tax to be paid is 15%")
elif Price>100000 and Price <=100000 :
    print("road tax to be paid is 10%")
else :
    print("road tax to be paid is 5%")

enter the cost price 40000

road tax to be paid is 5%

Q3. Accept any city from the user and display the monuments of that city :
    CITY              MONUMENT  
    DELHI             red fort
    AGRA              taj mahal
    JAIPUR            jal mahal

In [13]:
city = input("enter the name of your city")
if city == "delhi" :
    print("red fort")
elif city == "agra" :
    print("taj mahal")
else :
    print("jal mahal")

enter the name of your city jaipur

jal mahal

Q4.check how many times a given number can be divided by 3 before it is less than or equal to 10 ?

In [17]:
x = [1,2,3,4,5,6,7,8,9,10]
y = 3
z= []
for i in x :
    z.append(i/y)

In [18]:
z

[0.3333333333333333,
 0.6666666666666666,
 1.0,
 1.3333333333333333,
 1.6666666666666667,
 2.0,
 2.3333333333333335,
 2.6666666666666665,
 3.0,
 3.3333333333333335]

Q5. why and when to use while loop in python give a detailed description with example.

A while loop in Python is used when you want to repeatedly execute a block of code as long as a specified condition is true. It continues iterating until the condition becomes false.

syntax :
while condition:
    # Code to be executed while the condition is true

Use Cases:
Unknown Number of Iterations:
When you don't know in advance how many times you need to iterate.
For example, reading user input until a specific condition is met.

Event-Driven Programming:
When the loop is driven by external events rather than a predetermined number of iterations.

Continuous Monitoring:
In scenarios where you need to continuously monitor a condition and perform an action as long as the condition holds.

Example : Printing numbers from 1 to 5 using a while loop
count = 1  # Initial value

while count <= 5:  # Condition: continue while count is less than or equal to 5
    print(count)
    count += 1  # Increment the count in each iteration

print("Loop finished")

In this example, the while loop is appropriate because we want to iterate a variable number of times based on a condition. The loop continues until count is no longer less than or equal to 5.

In [1]:
count = 1
while count <= 5:
    print(count)
    count += 1
print("Loop finished")

1
2
3
4
5
Loop finished

Q6. use nested while loop to print three different patterns
ans. Square pattern
     Right Triangle Pattern
     Inverted Right Triangle Pattern

In [5]:
rows = 4
i = 1

while i <= rows:
    j = 1
    while j <= rows:
        print("* ", end="")
        j += 1
    print()
    i += 1

* * * *
* * * *
* * * *
* * * *

In [6]:
rows = 5
i = 1

while i <= rows:
    j = 1
    while j <= i:
        print("* ", end="")
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *
* * * * *

In [7]:
rows = 5
i = rows

while i >= 1:
    j = 1
    while j <= i:
        print("* ", end="")
        j += 1
    print()
    i -= 1

* * * * *
* * * *
* * *
* *
*

Q7.Reverse a while loop to display numbers from 10 to 1

In [11]:
i = 10
while i >= 1 :
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

Q8. Reverse a while loop to display numbers from 10 to 1

In [ ]:
ANS. Same as above